@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Patua+One&family=Roboto:wght@700&display=swap');
$color-primary: #2f4f4f ;
$color-primary-op: #2f4f4f9a ;
$color-primary-op-2: #2f4f4f42 ;
$color-primary-op-3: #a9eded ;
$color-secondary: #CBE4DE;

$font-primary: 'Patua One', cursive ;
$font-secondary:  'Noto Serif', serif;
$font-third: 'Roboto', sans-serif;
